.container {
  background-color: transparent;
}

.profilePic {
  width: 300px;
  height: 300px;
}

.aboutMe {
  color: white;
}

.amTitle {
  background-color: cadetblue;
}


.card-body {
  background-color: powderblue;
  border-color: black;
}

.cntnrTitle {
  background-color: transparent;
  padding-bottom: 30px;
}

.portTitle {
  background-color: cadetblue;
}

.crdContainer {
  background-color: transparent;
  padding-bottom: 30px;
}

.cntctTitle {
  background-color: cadetblue;
}

.card {
  margin: 20px;
}

.nav {
  background-color: black;
  border-color: black !important;
}

.nav-link {
  background-color: black;
  color: white;
}

.footer {
  background-color: cadetblue;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.active {
  background-color: cadetblue !important;
  color: black !important;
  border-color: black !important;
}